<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newshub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/news_hub_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/news_hub_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".NotificationActivity">
            <intent-filter>
                <action android:name="NotificationActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MessagesActivity">
            <intent-filter>
                <action android:name="MessagesActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".NewsActivity">
            <intent-filter>
                <action android:name="NewsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFCMMessageReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>